<div class="container-fluid auth-page">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-10 col-md-8 p-0" style="max-width: 450px !important;">
      <form [formGroup]="reset" (ngSubmit)="onReset()">
        <mat-card>
          <mat-card-header class="d-block text-center">
            <div class="logo">
              <img src="./assets/icons/icon-72x72.png" width="52px" height="52px" alt="logo">
            </div>
            <h2>Reset password</h2>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>New password</mat-label>
                  <input matInput formControlName="password" type="password">
                  <mat-error *ngIf="reset.controls['password'].hasError('required')">
                    New password is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="reset.controls['password'].hasError('minlength') && !reset.controls['password'].hasError('required')">
                    New password must be at least 6 characters long
                  </mat-error>
                  <mat-error *ngIf="reset.controls['password'].hasError('maxlength')">
                    New password cannot be more than 150 characters long
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Confirm your New Password</mat-label>
                  <input matInput formControlName="password_confirm" type="password">
                  <mat-error *ngIf="reset.controls['password_confirm'].hasError('required')">
                    Confirm new password is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="reset.controls['password_confirm'].hasError('minlength') && !reset.controls['password_confirm'].hasError('required')">
                    Confirm new password must be at least 6 characters long
                  </mat-error>
                  <mat-error *ngIf="reset.controls['password_confirm'].hasError('maxlength')">
                    Confirm new password cannot be more than 150 characters long
                  </mat-error>
                  <mat-error
                    *ngIf="!reset.controls['password_confirm'].hasError('required') && reset.controls['password_confirm'].hasError('mismatch')">
                    Those passwords didn't match. Try again.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <button class="w-100" mat-raised-button color="primary" type="submit" [disabled]="!reset.valid">
                  Reset Password
                </button>
              </div>
              <div class="col-12 mt-2">
                <p class="m-0 text-center">
                  Already have an account?
                  <a class="text-decoration-none" [routerLink]="[ '/auth', 'login' ]">
                    Sign in
                  </a>
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
